*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.titlehead {
  
  color: purple; 
  text-align: center;
  background-color: grey;
  margin:16px;


}

.recipecard {
    border-color: black;
    border-style: dashed;
    width: 400px;
    margin: 12px auto;
    padding: 10px;

}
.recipes {
    font-size: 25px;
    text-align: center;
    background-color: aliceblue;
    width: 300px;
    margin: 0 auto;
    padding: 8px;   

}
h1 {
    text-align: center;
}

.ingredients {
    font-size: 16px;
    background-color: grey;
    color: white;
}

img {
    height: auto
}

.pea {
    color: green;
}
.carrot {
    color: orangered;
}